# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class

# Clés RSA (NE PAS committer en production !)
src/main/resources/privateKey.pem
src/main/resources/publicKey.pem

# Node / React
src/main/webui/node_modules/
src/main/webui/dist/

# Base de données locale H2
data/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/
